.p1 {
    background-color: #000;
    color: #fff;
    margin: 0;
}
.p2 {
    background-color: #df0c0c;
    color: #fff;
    margin: 0;
}
.p3 {
    background-color: #0cdf44;
    color: #fff;
    margin: 0;
}
.p4 {
    background-color: #0cdfce;
    color: #fff;
    margin: 0;
}
.p5 {
    background-color: #dbd8d8;
    color: #fff;
    margin: 0;
}
.p6 {
    background-color: #df0c0c;
    color: #000000;
    margin: 0;
}
.p7 {
    background-color: #dfb80c;
    color: #fff;
    margin: 0;
}
.p8 {
    background-color: #df0cd8;
    color: #fff;
    margin: 0;
}
.p9 {
    background-color: #76215f;
    color: #fff;
    margin: 0;
}
.p10 {
    background-color: #ffffff;
    color: #080707;
    margin: 0;
}
.p11 {
    background-color: #0cdfd1;
    color: #000000;
    margin: 0;
}
.p12 {
    background-color: #103906;
    color: #fff;
    margin: 0;
}
.p13 {
    background-color: #0cdfa7;
    color: #fff;
    margin: 0;
}
.p14 {
    background-color: #8bdf0c;
    color: #fff;
    margin: 0;
}  
.p15 {
    background-color: #b7a74d;
    color: #fff;
    margin: 0;
}
.p16 {
    background-color: #2fb488;
    color: #fff;
    margin: 0;
}
  
