.p1 {
    background-color: rgba(0, 0, 0, 0.5);
    

}
.p2 {
    background-color: rgba(0, 255, 0, 0.7);
}
.p3 {
    background-color: hsla(120, 100%, 50%, 0.7);
}
.p4 {
    background-color: hsla(0, 60%, 32%, 0.5);
}
.p5 {
    background-color: hsla(240, 100%, 50%, 0.3);
}
.p6 {
   background-color:  rgba(255, 255, 0, 0.8);
}
.p7 {
    background-color: hsla(76, 68%, 54%, 0.8);
}
.p8 {
    background-color: hsla(0, 100%, 50%, 0.5);
}
.p9 {
    background-color:  rgba(91, 162, 209, 0.8);
}
.p10 {
    background-color: hsla(195, 62%, 74%, 0.3);
}
.p11 {
    background-color:  rgba(221, 151, 66, 0.8);
}
.p12 {
    background-color:  rgba(82, 33, 0, 0.8);
}
.p13 {
    background-color:  rgba(78, 58, 192, 0.8);
}
.p14 {
    background-color:  rgba(140, 50, 214, 0.8);
}  
.p15 {
    background-color: hsla(128, 100%, 50%, 0.5);
}
.p16 {
    background-color: hsla(341, 100%, 50%, 0.5);
}