table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 10px;
}
td::first-letter {
    font-weight: bold;
    color: blue;
}
tr:first-child td {
    background-color: lightgray;
}